.addEducation {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 2rem;
    border: 1px solid whitesmoke;
    border-radius: 30px;
}

.addEducation h1 {
    padding-bottom: 1rem;
}
